* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    font-family: "Poppins";
    line-height: 1.6;
    background-color: rgb(247, 250, 252);
    
}

img {
    max-width: 100%;
}


.container-sm {
    max-width: var(--container-narrow);
}

/*---------------- NAVBAR ---------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 100px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 1);
    position: sticky;
    top: 0;
    z-index: 1;
    
}

nav .logo {
    text-align: center;
    color: rgb(59, 57, 167);
    font-weight: bold;
    font-size: 30px;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 9px 10px;
    font-size: medium;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 5px;
    align-items: center;
}

nav ul a {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;

}

nav ul a:hover {
    box-shadow: 0 3px 1px rgba(0, 0, 0, 1);
    
    background-color: rgb(59, 57, 167);
}

nav ul .page_active {
    box-shadow: 0 3px 1px rgba(0, 0, 0, 1);
    background-color: rgb(59, 57, 167);
}

/*---------------- CONTAINER ----------------*/
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
}


.contenedor_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem auto;
    gap: 2rem;

    
    .imagen_principal {
        max-width: calc(100% / 3);
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid rgb(59, 57, 167);
        box-shadow: 0 0 9px 0 rgb(0, 0, 0, 1 );
        animation: pulse 1s infinite;
    }
}



/*---------------- ARTICLE ---------------- */
.contenedor_inicio article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: calc(100% / 3);
    gap: 15px;
    align-self: center;
    text-align: justify;

}



.contenedor_inicio p {
    font-size: 13px;
}

.contenedor_inicio article a {
    padding: 10px;
    width: 10rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(59, 57, 167);
    align-self: center;
     box-shadow: 0 3px 1px rgba(0, 0, 0, 1);
     animation: pulse 1s infinite;
     
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.contenedor_inicio article a:hover {
    
    
    background-color: rgb(59, 57, 167, 0.9);
}





/*---------------- FOOTER ----------------*/
footer {
    height: 59px;
    padding-bottom: 14px;
}

footer p {
    display: flex;
    font-size: 14px;
    justify-content: center;
    color: #7f8da1;
    height: 100%;
    align-items: flex-end;
}


/* ########## Media Queries ########## */
@media (max-width: 768px) {
    .header .contenedor_menu {
        flex-direction: column;
        padding: 1rem;
    }

    .contenedor_inicio {
        flex-direction: column;
       margin-top: 2rem;
       padding-top: 1rem;
      

        .item {
            max-width: 100%;
        }
    }
}