* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Monserrat", sans-serif;
}

body {
    background-color: #27264a;

}

.container {
    max-width: 600px;
    margin: 200px auto;
    padding: 40px;
    background-color: #577db8;
    border-radius: 9px;
}

.card  {
    
    background-color: #ffffff;
    text-align: center;
    padding: 5px;
    margin: 10px;
    
}
.title  {
    background-color: aquamarine;
    padding: 1px 0;
}

p {
    font-size: 10px;
}

.pricing {
    display: flex;
}

ul{
    list-style-type: none;
}

