* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #27264a;
    font-family: "Monserrat", sans-serif;
}

.container {
    max-width: 1100px;
    margin: 35px auto;
    padding: 31px 31px;
    background-color: #fafcff;
    border-radius: 9px;
}


.card {
    display: flex;
    flex-direction: column;    
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: 15px 0;
    max-width: 300px; /* Esto provoca que en 344 se salga a la derecha*/
    color: #444063;
    border-radius: 10px;
    box-shadow: 0  0 10px 1px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat";
    line-height: 1.6;
}

.title  {
    padding: 10px 0;
    font-size: 25px;
}

.card-one .title {
    background-color: #e9eff7;
    color: black;
    font-size: larger;

}

.card-two .title{
    background:  linear-gradient(90deg,rgba(196, 255, 252, 1) 0%,rgba(180, 137, 252, 1) 100%);
     color: #ffffff;
    font-size: larger;
}

.card-three .title {
 background: linear-gradient(90deg,rgba(164, 255, 104, 1) 0%,rgba(253, 255, 112, 1) 100%);
 color: #ffffff;
 font-size: large;  
}

.price {
    font-weight: bold;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.price sup, span{
    font-weight: bold;
    font-size: 17px;
}
.price-info {
    font-size: medium;
    font-weight: bolder;
}
.main-text {
    font-size: 13px;
    font-weight:600;

}

.btn {
    margin: 35px 0;
    text-decoration: none;
    color: #444063;
    font-size:smaller;
    font-weight:bold;
    border: 1px solid #27264a;
    border-radius: 5px;
    padding: 10px;
}

.btn:hover {
    background-color: #27264a;
    color: #ffffff;
}

.card-two .btn {
    background-color: #27264a;
    color: #ffffff;
}

.card-two .btn:hover {
    background-color: #fafcff;
    color: #27264a;
}

.pricing {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    text-align: left;
}

ul li {
    color: #444063;
    margin-bottom: 10px;
    font-size:small;
    font-weight: bold;
    
}

ul li i {
    color: lightgreen;
    margin-left: 5px;
}



/* Media Queries */
@media (max-width: 768px) {
    .pricing {
        flex-direction: column;
        align-items: center;
    }

    .container {
        margin:46px auto;
        padding: 15px 0;
        max-width: 350px;
    }
}

