/*###################### RESET ######################*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --primary-color: rgba(30, 112, 55, 1);
    --second-color: rgba(32, 186, 78, 1);
    --terciary-color: rgba(255,255,255,1);
}

body {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ############### NAVBAR ###############*/
.header {
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--terciary-color);
    padding: 10px 5rem;
    font-size: 1rem;
    position: sticky;
    top:0;
    z-index: 1000;
}
.header .logo {
    color: var(--terciary-color);
    font-weight: 600;
}

.header span {
    margin-left: 0.5rem;
}
.header .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header .menu a {
    color: var(--terciary-color);
}

.menu .withcolor {
    background-color: var(--second-color);
    padding: 5px 1rem;
    border-radius: 7px;
}

.container {
    max-width: 1366px;  
}

/* ############### SECTION MAIN ############### */
.sectionMain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/images/mountains.jpg") no-repeat center/cover;
    text-align: center;
    
}

 .sectionMain article {
    color: var(--terciary-color);
    padding: 2rem;
    backdrop-filter: brightness(40%);
    border-radius: 15px;
    margin: 0 20px;
}

.sectionMain article div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.sectionMain article .button {
    width: 10rem;
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--terciary-color);
}

.sectionMain article .button-1 {
    background-color: var(--second-color);
}

.sectionMain article .button-2 {
    border: 1px solid var(--terciary-color);
    filter: brightness(100%);
}

/* ########## SECTION ABOUT ########## */

.section {
    max-width: 100%;
    margin: 0px auto;
    padding: 10px 100px;

}

.sectionAbout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #FFF;
}

.sectionAbout h2 {
    align-self: center;
}

.sectionAbout .aboutArticle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h3 {
        color: rgb(54, 117, 91);
    }

    p {
        font-size: small;
        margin: 10px 0;
    }
}

.sectionAbout .aboutArticle .imgAbout {
    width: 360px;
    filter: brightness(120%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .7);
    border-radius: 10px;
    margin-bottom: 10px;
}

.sectionAbout .aboutArticle .text_icon_about {
    display: flex;
    gap: 10rem
}

.aboutArticle .text_icon_about p i {
    color: rgb(54, 117, 91);
    margin-right: 5px;

}



/* ########## SECTION TOURS ########## */
.sectionTours {
    background-color: rgb(246, 245, 250);
    max-width: 1366px;
    padding-top: 50px;
    padding-bottom: 50px;
}



.articleTours {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    .buttonTours {
        display: inline-block;
        align-self: center;
        font-size: 15px;
        margin-top: 50px;
        color: var(--second-color);
        padding: 10px;
        border: solid var(--second-color);
        border-radius: 10px;
    }

    h2 {
        text-align: center;
    }

    .main_text {
        text-align: center;
    }

} 

.paquetes_container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 15px;

}

.text_element {
    padding: 0 20px;
}



.paquetes_container .img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}

.paquetes_container .img-1 {
    background: url('/images/imagen-3.jpg') no-repeat center/cover;
}

.paquetes_container .img-2 {
    background: url('/images/imagen-4.jpg') no-repeat center/cover;
}

.paquetes_container .img-3 {
    background: url('/images/imagen-5.jpg') no-repeat center/cover;
}

.card {
    background: #FFF;
    width: calc(100% / 3);
    border-radius:10px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, .2);
    padding-bottom: 30px;
    
}

.title_and_level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    
    span {
        padding: 0 5px;
        font-size: 10px;
        background: rgb(201, 252, 227);
        font-weight:600;
    }
}

.card_2 .title_and_level span {
    background: lightblue;
}

.card_3 .title_and_level span {
    background: lightcoral;
}

.card .ubication {
    font-size: 12px;
}

.card i {
    color: var(--primary-color);
    margin-right: 3px;
}

.card .detail {
    margin-top: 10px;
    font-size: 14px;
}

.price_and_button {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    p{
        span {
            color: var(--primary-color);
            font-weight: 900;
            margin-right: 5px;
        }
    }

    a {
        color: var(--terciary-color);
        background-color: var(--primary-color);
        padding: 5px 10px;
        border-radius: 5px;
    }
}

.sectionTestimonies {
    
    margin-bottom: 50px;

}

.card_testimony {
    padding: 20px 20px;
}
.imgPerfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imgPerfil1{
    background: url('/images/perfil1.jpg') no-repeat center/cover;
}

.imgPerfil2 {
    background: url('/images/perfil3.jpg') no-repeat center/cover;
}

.imgPerfil3 {
    background: url('/images/perfil2.jpg') no-repeat center/cover;
}

.imgPerfil_and_scoreStar{
    display: flex;
    gap: 1rem;
}

.name {
    font-weight: 600;
}
.fa {
    color: yellow;
}

.card_testimony i {
    font-size: 12px;
    color: #000;
}

.articleTestimonies h2 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}


/* ################### CONTACT FORM ################### */
.sectionContact {
    padding-top: 50px;
    padding-bottom: 35px;
    background-color: var(--primary-color);

    h2 {
        color: var(--terciary-color);
        text-align: center;
    }

    p {
        color: rgba(255, 255, 255, .8);
        text-align: center;
        font-size: 12px;
    }
    
    form {
        margin: 20px 0;
        padding: 0 200px;
    }
}

.form-group {
    margin-bottom: 15px;
}

.form-group-2 {
    display: flex;
    gap: 20px;
    
    .form-group {
        width: calc(100% / 2);
    }
}


.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--terciary-color);
}

.form-group input,
.form-group textarea, select {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.2);
    color: white;
    outline: 0;
}

select option {
    background-color: var(--second-color);
}


.sectionContact ::placeholder {
    color: #FFF;
    opacity: 0.5;
}

.form-group textarea {
    height: 150px;
    resize: none;
    margin-bottom: 10px;
}

.btn {
    display: block;
    padding: 15px 20px;
    border-radius: 20px;
    width: 100%;
    border: 0;
    background-color: #FFF;
    color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

/* ############### fAQ CONTAINER ############### */
.sectionFaq {
    background-color: rgb(246, 245, 250);
    display: flex;
    padding: 0 300px;
}
.faq-container {
    max-width: 1366px;
    margin: 50px auto;
    padding: 20px;
    color: #333;
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

.faq-item {
    background-color: var(--terciary-color);
    border-bottom:  1px solid #ddd;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.faq-question {
    background-color: var(--terciary-color);
    width: 100%;
    padding: 20px;
    text-align: left;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #d0d7de;
}

.faq-question .arrow {
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease;
}

.faq-question.active .arrow {
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3 ease;
    background-color: #fff;
}

.faq-answer p {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* ############### SECTION JOIN COMMUNITY ############### */

.sectionOurCommunity {
    background-color: var(--primary-color);
    padding: 0 300px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--terciary-color);
    display: flex;
}

.articleOurCommunity {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        font-size: 15px;
    }

    form {
        margin-top: 15px;
    }
}



.articleOurCommunity form input, .articleOurCommunity button{
    padding: 11px 10px;
     border:none;
     border-radius: 5px 0px 0px 5px;
}

.articleOurCommunity button {
    position: relative;
    left: -4px;
    background-color: var(--second-color);
    color: var(--terciary-color);
    border-radius: 0px 5px 5px 0px;
}

/* #################### FOOTER #################### */
footer {
    max-width: 1366px;
    background-color: rgba(18, 22, 38, 1);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 30px 100px;
    h3 {
        font-size: 15px;
        color: var(--terciary-color);
    }

    p, a {
        font-size: 10px;
        color: rgb(167, 167, 167);
    }
}

footer .sectionFooter1 {
    display: flex;
    margin-bottom: 25px;

    .articleFooter {
        width: calc(100% / 3);
    }

    .articleFooter1 {
        display: flex;
        gap: 10px;
        
        width: calc(90%);
        .logo {
            color: var(--terciary-color);
            font-size: large;
            font-weight: 600;
        }

        div {
            width: calc(50%);
        }
    
    }

    .articleFooter2 {
        a {
            display: block;
        }
    }

    
}
hr {
    height: 1px;
    background-color: #555;
    border: none;
}
footer .sectionFooter2 {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
}







/* ############### Mobile Device ############### */
@Media (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px 1px;

        .logo {
            font-size: 25px;
        }
    }

    .header .menu ul {
        gap: 1rem;
        justify-content: space-between;
        font-size: 10px;
    }

    .sectionMain {          
        min-height: 50vh;
        max-width: 100%;
        padding: 0 30px;
    }

    .sectionMain article {
        display: flex;
        flex-direction: column;
        max-width: 100%;

    }

    .sectionMain article h1 {
        font-size: 20px;
    }

    .sectionMain article p {
        font-size: 10px;
    }

    .sectionMain article .button {
        font-size: 10px;
        font-weight: 900;   
        margin-top: 30px;
        padding: 10px 15px;
        border-radius: 10px;
        color: var(--terciary-color);
    }

    .sectionAbout {
        padding: 10px 20px;

        h2 {
            font-size: 17px;
            text-align: center;
        }
    }

    .sectionAbout .aboutArticle {
        flex-direction: column;
    }
    
    .sectionAbout .aboutArticle .text_icon_about {
        
        gap: 2rem
    }

    .sectionTours {
        padding: 10px 20px;
    }


    .paquetes_container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}